footer{

    background-color: #232323;
    height:5rem;
    font-size:25px;
    color: #F0E8E1;  
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    padding:15px;
}
