.Home__Page{
    background-color: #f0e8e1;
    height:100vh;
}

.About__me__Page{
    background-color: #f0e8e1;
    height:100vh;

}

.My__works{
    background-color: #f0e8e1;
    height:100%;
}

.Footer-down{
    background: color black;
    height:100vh;
}


/*Home*/

.Home__Page__main__box{
    display:flex;
    
}

.photo{
    margin-top:10%;
    width:35%;
    padding:15px;
    margin-right:12%;

}

.Home__Page__main__box__text{
    padding:10px;
    margin-top:15%; 
    margin-left:15%; 
    font-family: 'Roboto', sans-serif;
    color:#a3a3a3;
    width:35%;
}

h1
{

    
    font-family: 'Roboto', sans-serif;
    font-size:35px;
    color:#103faf
    

}


.Get__to__know__btn{
    margin-top:10%;
    color: #103faf;
    font-family:'Inter Tight', sans-serif;;
    background-color:#f0e8e1;
    padding: 8px 20px;
    border-radius: 2px;
    outline: solid #103faf;
    border: none;
    cursor: pointer;
    
     

}

.Get__to__know__btn:hover{
    transition: all 0.3s ease-out;
    background: orangered;
    color: #242424;
    transition: 250ms;
}

a {
    text-decoration: none;
    color:#103faf
}


#photo-hobbies{
    margin-top:15%;
  
    
}

/*My works*/


#my-works-header{
    text-align: center;
}
.container-my-works{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

    }

    .card{
        background-color: #103faf;
        width: 270px;
        height:350px;
        margin:10px;
        border-radius:15px;
        margin-bottom:150px;
    }

    .card-image {

        background-color: #242424;
       background-size: cover;
        height:170px;
        margin-bottom:15px;
        border-radius: 15px 15px 0 0;
       
       
    }

    #work1{
        background-image: url("/img/Pluma__logo.svg");
       
    }

    #work2{
        background-image: url("/img/Explanatory-video.PNG");
       
    }


    #work3{
        background-image: url("/img/HC-Andersen.jpg");
       
    }


    #work4{
        background-image: url("/img/Pop-out-windows.png");
       
    }


    .label{
        height:25px;
        background-color: orangered;
        width:120px;
        text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    color:#f0e8e1
    }

    h4{
        font-family: 'Roboto', sans-serif;
        font-size:25px;
        margin:5px;
        color:#f0e8e1
    }


   
    

#My-works-nav{
    height:200px;
}










@media (max-width: 800px){

    .Home__Page__main__box{
        display:inline-block;
        
    }

    .Home__Page__main__box__text{
        padding:10px;
        margin-top:15%; 
        margin-left:15%; 
        width:70%;
    }



.photo{
    margin-top:5%;
    width:60%;
    padding:15px;
    margin-left:18%;

}


.Get__to__know__btn{
    margin-left:25%;
    
     

}


}